@model Dominion.Models.RatingListModel

<style>
    td { 
        padding: 10px;
    }
</style>

@{
    ViewBag.Title = "Rating list";
}

<h2>Rating list</h2>

<div class="rating-table">
    <table id="ratingListTable" >
        <thead>
        <tr>
            <th>#</th>
            <th>Player</th>
            <th>Rating</th>
            <th>Last played</th>
            @if (!@Request.Browser.IsMobileDevice)
            {
                <th>Wins</th>
                <th>Losses</th>
                <th>Draws</th>
                <th>Highest</th>
                <th>Lowest</th>
            }
        </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.RatingModels)
            {
                <tr>
                    <td>
                        @player.Number
                    </td>
                    <td>
                        @player.Name
                    </td>
                    <td>
                        @player.Rating
                    </td>
                    <td>
                        @player.LastPlayed
                    </td>
                    @if (!@Request.Browser.IsMobileDevice)
                    {
                        <td>
                            @player.Wins
                        </td>
                        <td>
                            @player.Losses
                        </td>
                        <td>
                            @player.Draws
                        </td>
                        <td>
                            @player.HighestRating
                        </td>
                        <td>
                            @player.LowestRating
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

