@model Dominion.Models.RatingListModel

<style>
    td { 
        padding: 10px;
    }
</style>

@{
    ViewBag.Title = "Rating list";
}

<h2>Rating list</h2>

<div class="rating-table">
    <table id="ratingListTable" >
        <thead>
            <tr>
                <th>Player</th>
                <th>Rating</th>
                <th>Last played</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Draws</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model.RatingModels)
            {
                <tr>
                    <td>
                        @player.Name
                    </td>
                    <td>
                        @player.Rating
                    </td>
                    <td>
                        @player.LastPlayed
                    </td>
                    <td>
                        @player.Wins
                    </td>
                    <td>
                        @player.Losses
                    </td>
                    <td>
                        @player.Draws
                    </td>
                </tr>
            }
        </tbody>
    </table>

